# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
.turbo

# env
.env
.env*.local
!.env.example

# debug / os
npm-debug.log*
.DS_Store
*.pem

# python / diagrams
__pycache__/
*.pyc
.venv/

# ide
.idea/
.vscode/

# testing
coverage/

# production
build/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# extra package manager logs
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
